@{
    ViewBag.Title = "Web Chart Parser";
}

<div class="jumbotron">
    <h1>Web Chart Parser</h1>
    <p class="lead">Make chart from pattern</p>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="/chart/draw/" style="width:100%;" id="imgchart" />
    </div>
    <div class="col-md-1">
       Pattern
    </div>
    <div class="col-md-8">
        <input type="text" style="width:100%" id="pather"/>
    </div>
    <div class="col-md-1">
    <input type="button" id="clicker" value="draw" />
    </div>
</div>